<div class="profile-section section">
  <%= image_tag @profile.banner %>
  <div class="banner-separator"></div>
  <div class="profile-main-box">
    <%= @profile.user.full_name %>
    <%= age(@profile.birth_date) %>
  </div>
</div>
<div class="posts-section section">

</div>
