<% unless @user_privacy_policy == 'true' || @user_privacy_policy == 'false' || @user_privacy_policy == 'closed' %>
  <div id="notice">
    <p>Yo this is a notice for you to give permission to saving your location in DB</p>
    <%= link_to "Accept", accept_privacy_cookie_path, remote: true %>
    <%= link_to "Close", close_privacy_cookie_notice_path, remote: true %>
  </div>
<% end %>
