// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// MuWe colors

$muwe-pure-white: #FFFFFF;
$muwe-brand-white: #ECFDFC;


$muwe-green-light: #00E6E2;
$muwe-brand-green: #00C6C2;
$muwe-green-dark: #008D85;


$muwe-black: #2B2B2D;
$muwe-black-dark: #252627;

$muwe-action-red: #E61B0B;
$muwe-action-green: #0BE666;
$muwe-action-blue: #0B76E6;

$muwe-gray: #4D4D4D;
