@mixin flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin map-section {
  display: grid;
  grid-template-columns: 22% 30% 48%;
  grid-template-rows: 100%;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
