// Map section

.map-section {
  @include map-section;
  color: $muwe-pure-white;
  background-color: $muwe-black;
  background-image: url("wrapping-instruments.png"), linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(43,43,45,0.8) 7%, rgba(43,43,45,1) 100%);
  background-repeat: repeat-x;
  background-position: bottom;
  height: 83vh;
  width: 100vw;
  max-width: 100%;
}


.filter-wrapper {
  height: 96%;
}

.jam-wrapper {
  height: 96%;
}

.map-wrapper {
  @include flex-center-all;
  background-color: $muwe-black-dark;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(43,43,45,1) 6%, rgba(43,43,45,1) 100%);
  height: 101%;
  border-radius: 4px 0 0 4px;
}

// Posts section

.posts-section {
  height: 83vh;
}
