// Map section

.map-section {
  @include map-section;
  color: $muwe-pure-white;
  background-color: $muwe-black;
  background-image: image-url("wrapping-instruments.png"), linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(37,38,39,1) 11%, rgba(37,38,39,1) 100%);
  background-repeat: repeat-x;
  background-position: bottom;
  height: 84vh;
  width: 100vw;
  max-width: 100%;
}


.filter-wrapper {
  height: 96%;
}

.jam-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 96%;
  margin: 0 12px;

  .swiper-container {
    height: 95%;
    overflow: hidden;
  }
}

.jams-next, .jams-previous {
  margin: 8px 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.jams-next {
  border-bottom: 20px solid $muwe-brand-green;
}

.jams-previous {
  border-top: 20px solid $muwe-brand-green;
}

.map-wrapper {
  @include flex-center-all;
  background-color: $muwe-black-dark;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(37,38,39,1) 15%, rgba(37,38,39,1) 100%);
  height: 100.5%;
  border-radius: 4px 0 0 4px;
}

// Posts section

.posts-section {
  height: 83vh;
}
