// Map section

.map-section {
  @include map-section;
  color: $muwe-pure-white;
  background-color: $muwe-black;
  background-image: image-url("wrapping-instruments.png"), linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(43,43,45,1) 9%, rgba(43,43,45,1) 100%);
  background-repeat: repeat-x;
  background-position: bottom;
  height: 84vh;
  width: 100vw;
  max-width: 100%;
}


.filter-wrapper {
  height: 96%;
  #proximity-data {
    p {
      display: inline;
      color: $muwe-pure-white;
    }
    text-align: center;
    margin: 0 20%;
    color: $muwe-brand-green;
  }
}

.jam-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 96%;
  margin: 0 12px;

  .jam-swiper-container {
    height: 100%;
    overflow: hidden;
  }

  .swiper-wrapper {
    @include flex-column;
    align-items: center;
  }
}

.map-wrapper {
  @include flex-center-all;
  background-color: $muwe-black-dark;
  background: linear-gradient(0deg, rgba(246,250,253,1) 0%, rgba(246,250,253,1) 7%, rgba(37,38,39,1) 15%, rgba(37,38,39,1) 100%);
  height: 100.5%;
  border-radius: 4px 0 0 4px;
}

// Posts section

.posts-section {
  height: 83vh;
  @include flex-column;
  align-items: center;
}

.local-post-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 98%;
  margin: 0 12px;
}

.local-post-swiper-container {
  @include flex-row;
  height: 95%;
  width: 95%;
}

.swiper-wrapper {
  @include flex-row;
}
