<footer>
  <div class="footer-upper">
    <div class="about-us">
      <h3>About us</h3>
      <p>We want to unite musicians around the world, simplify and promote musical interactions.</p>
    </div>
    <div class="footer-logo">
      <%= image_tag 'muwe-logo.svg', height: '50px', width: '50px' %>
    </div>
    <div class="contact-us">
      <h3>Contact us</h3>
      <p>Phone: ...</p>
      <p>Email: ...</p>
    </div>
  </div>
  <div class="footer-lower">
    <p>Made with <i class="fas fa-heart"></i> by MuWe</p>
  </div>
</footer>
