<div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<%= link_to "privacy true", accept_privacy_cookie_path, remote: true %>
<%= link_to "privacy false", deny_privacy_cookie_path, remote: true %>
<%= link_to "privacy reset", reset_privacy_cookie_path, remote: true %>
