<div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<%= link_to "save user location test", permit_location_save_path %>
<%= link_to "deny user location test", deny_location_save_path %>
