header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  height: 80px; // nav height
  background-color: $muwe-black-dark;
}

#notice {
  position: absolute;
  background-color: $muwe-brand-green;
  top: 0; // animated
  width: 100%;
}
