header {
  position: fixed;
  @include flex-column;
  height: 80px;
  width: 100%;
  z-index: 9999;

  &::after {
    content: '';
    background-color: $muwe-gray;
    height: 3px;
    width: auto;
  }
}

nav {
  @include nav;
  height: 77px;
}
