header {
  position: fixed;
  @include flex-column;
  height: 80px;
  width: 100%;
  z-index: 9999;

  &::after {
    content: '';
    background-color: $muwe-gray;
    height: 3px;
    width: auto;
  }
}

nav {
  @include nav;
  background-color: $muwe-black-dark;
  height: 77px;

  a {
    color: $muwe-brand-green;
    weight: bold;
    font-size: 1.4rem;
    transition: 0.2s;

    &:active {
      color: $muwe-green-dark;
      transition: 0.1s;
      text-decoration: none;
    }

    &:hover {
      color: $muwe-green-dark;
      transition: 0.1s;
      text-decoration: none;
    }

    &:focus {
      color: $muwe-green-dark;
      transition: 0.1s;
      text-decoration: underline solid $muwe-green-dark;
      outline: none;
    }
  }
}

.nav-section {
  margin: 0 2px;
  @include flex-row;

  & > * {
    margin: 0 12px;
  }
}
