/* Jams */

.jams-next, .jams-previous {
  height: 35px;
  margin: 8px 0;
  filter: drop-shadow( 2px 1px 3px rgba(18, 17, 18, .8));
}

.jams-next {

}

.jams-previous {
  transform: rotate(180deg);
}

/* Posts */

.local-post-swiper-container {
  overflow: hidden;
}

.local-posts-next, .local-posts-previous {
  height: 35px;
  margin: 8px 0;
  filter: drop-shadow( 2px 1px 3px rgba(18, 17, 18, .8));
}

.local-posts-next {
  transform: rotate(-90deg);
}

.local-posts-previous {
  transform: rotate(90deg);
}
