/*
.posts-section {
  position: relative;
}

.swipper-container {
  height: 100%;
}
.swiper-wrapper {
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: red;
}

.jams-next, .jams-previous {
  background: blue;
  height: 50px;
  width: 100%;
}
*/
